// theme colors  
$main-background: rgba(224,216,176,0.5);
$brown: #CE9461;
$light-brown: #E0D8B0;
$orange: #DEA057;
$white: #ffffff;
$black: #000000;



//borders
$base-border-radius:10px;

//box-shadow
$pressed-box-shadow:rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;


